// 制御のために利用するスタイルを管理

.hidden-item {
	transform: scaleY(0);
	height: 0;
}

.hidden-modal {
	display: none;
}

.hidden-accordion {
	display: none;
}

.input-toggle-enter-active, .input-toggle-leave-active {
	transform-origin: 0 0; 
	transition: all .8s;
}

.input-toggle-leave-to {
	transform: scaleY(0);
	height: 0;
}

.input-toggle-leave {
	transform: scaleY(1.0);
	height: 0;
}

.intput-toggle-enter-to {
	transform: scaleY(1.0);
}

.input-toggle-enter {
	transform: scaleY(0);
}

// レスポンシブ用
// pc パソコン
// sp スマートフォン
// tb タブレット
// pc-tbの場合、スマートフォンのみ非表示となる
@include responsive(sp) {
	.tb { display:none !important;}
	.pc-tb { display:none !important;}
	.pc { display:none !important;}
}
@include responsive(tb) {
	.sp { display:none !important;}
	.sp-pc { display:none !important;}
	.pc { display:none !important;}
}
@include responsive(pc) {
	.sp { display:none !important;}
	.tb { display:none !important;}
	.sp-tb { display:none !important;}
}