// カテゴリ編集メニュー・ダイアログ
.category-edit {
	// 編集アイコン スマートフォンでは編集のUIも使いづらいので、ReadOnlyとするため非表示
	@include responsive(sp) {
		display: none;
	}
	
	position: absolute;
	right: -30px;
	
	cursor: pointer;
	
	// 編集メニュー
	&__menu {
		width: 120px;
		height: 100px;
		
		position: absolute; // 編集アイコンの真横に配置するため、絶対配置とする
		
		font-weight: bold;
		line-height: 1.5;
		
		padding: 0;
		border: 1px solid #C8CCD4;
		
		color: #9CA5B9;
		background-color: #fff;
		
		& li {
			width: 100%;
			
			text-align: left;
			
			padding: 5px 10px;
			margin-top: 3px;
			
			cursor: pointer;
			
			&:last-child {
				border-top: 1px solid #C8CCD4; // closeイベント 他とは区別するため、ボーダーを配置
			}
			
			&:hover {
				background-color: #4893C6;
				color: #fff;
			}
			
		}
		
	}
	
	&__dialog {
		width: 350px; // カテゴリ名を編集することはそんなに頻繁には起こり得ないので小さめのダイアログとした
		height: 240px;
		
		position: fixed; // 画面中央固定
		top: 100px;
		left: 0;
		right: 0;
		
		margin-left: auto;
		margin-right: auto;
		border: 1px solid #000;
		
		background-color: #fff;
		
		
		&__header {
			height: 64px;
			
			padding: 15px;
			
			background-color: #F4F3F6;
			
			& h3:last-child {
				position: absolute;
				right: 20px;
				top: 15px;
				
				cursor: pointer;
			}
		}
		
		&__input {
			margin-top: 30px;
			padding: 10px;
		}
	}
}


// コマンド編集メニュー・ダイアログ
.command-edit {
	// 編集アイコン スマートフォンでは編集のUIも使いづらいので、ReadOnlyとするため非表示
	@include responsive(sp) {
		display: none;
	}
	@include responsive(tb) {
		right: -18px;
	}
	@include responsive(pc) {
		right: -30px;
	}
	position: absolute;
	
	cursor: pointer;
	
	&__menu {
		width: 120px;
		height: 100px;
		
		position: absolute; // 位置はJSで動的に算出
		
		font-weight: bold;
		line-height: 1.5;
		
		border: 1px solid #C8CCD4;
		padding: 0;
		
		color: #9CA5B9;
		background-color: #fff;
		
		& li {
			width: 100%;
			
			text-align: left;
			
			padding: 5px 10px;
			margin-top: 3px;
			
			cursor: pointer;
			
			&:last-child { // closeは特別なイベントのため、他とは区別できるようボーダーを配置
				border-top: 1px solid #C8CCD4;
			}
			
			&:hover {
				background-color: #4893C6;
				color: #fff;
			}	
		}
	}
	
	&__dialog {
		width: 550px;
		height: 85%;
		
		position: fixed; // 画面中央固定
		top: 20px;
		left: 0;
		right: 0;
		
		margin-left: auto;
		margin-right: auto;
		border: 1px solid #000;
		
		background-color: #fff;
		
		&__header {
			height: 64px;
			
			padding: 15px;
			
			background-color: #F4F3F6;
			
			& h3:last-child { //閉じるボタン
				position: absolute;
				right: 20px;
				top: 15px;
				
				cursor: pointer;
			}
		}
		
		&__input {
			margin-top: 30px;
			padding: 10px;
		}
	}
}